@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

body {
    background-color: #160F43;
    color: #768CF9;
}

a {
    color: #7AB8F5;
    text-decoration: none;
}

a:hover {
    color: #2B1F6B;
    transition: 0.25s;
}

h1 {
    margin: 1em;
    padding: 10px;
    text-align: center;
}

button:hover {
    background-color: #C96BFD;
    color: #2B1F6B;
    transition: 0.25s;
    cursor: pointer;
}

::selection {
    background-color: #C96BFD;
    color: #2B1F6B;
}

/*navigation bar*/

.nav-container {
    display: flex;
    justify-content: center;
}

.top-nav {
    background-color: #768CF9;
    border: 2px solid #2B1F6B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    width: 35%;
    height: 45px;
    margin: 1em;
}

.top-nav a {
    /* background-color: #7AB8F5; */
    color: #2B1F6B;
    padding: 5px;
    border-radius: 30px;
}

.top-nav a:hover {
    background-color: #2B1F6B;
    color: #7AB8F5;
    transition: 0.25s;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2% 0 2% 0;
}

.social-link {
    display: flex;
    flex-direction: row;
}

.social-link img {
    width: 50px;
}

.social-link p {
    align-self: center;
    margin-left: 10%;
}

/*home page*/

/* .main-container {
    background-color: #2B1F6B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    margin: 3% 3% 0 3%;
    border-radius: 30px;
    height: 200%;
}

.main-container h1 {
    font-size: 50px;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-1 nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 30px;
}

.container-1 img {
    width: 50%;
    border-radius: 30px;
}

.container-1 nav a:hover {
    color: #C96BFD;
    transition: 0.25s;
} */

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-header h1 {
    font-size: 3em;
    margin: 2%;
    text-align: left;
}

.introduction {
    font-size: 25px;
    margin: 2%;
}

.main-container {
    background-color: #2B1F6B;
    border-top: #768CF9 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    height: 200%;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-1 nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 30px;
}

.container-1 nav a {
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.container-1 img {
    width: 50%;
    border-radius: 30px;
    box-shadow: 60px -35px #160F43;
}

.container-1 nav a:hover {
    box-shadow: inset 175px 0 0 0 #C96BFD;
    color: #2B1F6B;
}

.social-links.front {
    background-color: #768CF9;
    color: #2B1F6B;
    border-top: #160F43 2px solid;
    margin: 0;
    padding: 2%;
}

/* About Me page */

.profile {
    display: flex;
    justify-content: space-around;
    font-size: 3em;
    margin: 5em;
}

.profile img {
    max-width: 10em;
}

.profile p {
    align-self: center;
    animation: slideIn 2s;
}

@keyframes slideIn {
    from {
        margin-bottom: 200%;
    }

    to {
        margin-bottom: 0;
    }
}

.personal-container {
    background-color: #768CF9;
    display: flex;
    flex-direction: row;
}

.personal {
    display: flex;
    flex-direction: column;
    background-color: #2B1F6B;
    padding: 2.5em;
    margin: 1em;
    border-radius: 30px;
    width: 33%;
}

.personal:hover {
    background-color: #768CF9;
    color: #2B1F6B;
    transition: 0.25s;
    box-shadow: 1px #768CF9;
}

/* Resume page */

.resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 1% 0 1%;
}

.resume-first-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    size: 30px;
}

.resume-second-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.resume-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #2B1F6B;
    border: 2px solid #768CF9;
    border-radius: 30px;
    padding: 4%;
    margin: 1%;
}

.resume-section.exp {
    flex-grow: 1;
}

.resume h2 {
    color: #C96BFD;
    text-align: center;
}

.resume-button {
    border: none;
    border-radius: 30px;
    width: 25%;
    height: 35px;
    background-color: #7AB8F5;
    color: #2B1F6B;
    margin: 1%;
}

.button-container {
    display: flex;
    justify-content: center;
}

/* Portfolio page */
.portfolio-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2B1F6B;
    padding: 1.25%;
    width: 25em;
    height: 20em;
    border: 2px solid #768CF9;
    border-radius: 30px;
}

.portfolio-item:hover {
    background-color: #768CF9;
    color: #2B1F6B;
    transition: 0.25s;
}

.portfolio-item img {
    width: 25em;
}

/* Contact page */

.thank-you {
    margin: 2%;
}

.contact-inputs {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 20em;
    margin: auto;
}

.contact-inputs input[type=text] {
    background-color: #2B1F6B;
    color: #768CF9;
    border: 2px solid #768CF9;
    text-decoration: none;
    border-radius: 30px;
    height: 3em;
    margin: 10px;
}

.contact-inputs input::placeholder {
    color: #768CF9;
    padding: 1em;
}

.contact-inputs input[type=submit] {
    border: none;
    border-radius: 30px;
    width: 30%;
    height: 35px;
    margin: 10px;
    align-self: flex-end;
    background-color: #7AB8F5;
    color: #2B1F6B;
}

input[type=submit]:hover {
    background-color: #C96BFD;
    color: #2B1F6B;
    transition: 0.25s;
}

/* Web page */

.projects-container {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.project {
    display: flex;
    justify-content: space-between;
    background-color: #2B1F6B;
    margin: 1em;
    padding: 3%;
    border: 2px solid #768CF9;
    border-radius: 30px;
}

.project h2 {
    font-size: 2em;
}

.project img {
    width: 15em;
    box-shadow: 20px -10px #160F43;
}

.project-info {
    display: flex;
    flex-direction: column;
    margin-right: 5em;
}

/* Writing page */

.sample {
    background-color: #2B1F6B;
    border: 2px solid #768CF9;
    border-radius: 30px;
    margin: 2%;
    padding: 1em;
}

/* Art page */

.art-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2B1F6B;
    color: #768CF9;
    margin: 1em;
    padding: 1.5em;
    width: 25em;
    height: 20em;
    text-align: center;
    border: 2px solid #768CF9;
    border-radius: 30px;
}

.picture p {
    justify-self: center;
}